ENV=local
DATABASE_URL=postgresql+asyncpg://smart_scheduler:local_password_goes_here@localhost:5432/smart_scheduler_local
GOOGLE_CLIENT_ID=google_client_goes_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/callback
